*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    background-color: rgb(227, 208, 184);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

p, span, a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    background-color: transparent;
}

header img {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav_links li {
    margin-right: 20px;
}

.nav_links a {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.nav_links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ccc;
    border-radius: 20px;
}

nav #selected {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}
  
@media only screen and (max-width: 768px) {
    .nav_links {
      flex-direction: column;
      align-items: flex-start;
      display: none;
    }
    .nav_links li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    .nav_links a {
      font-size: 16px;
    }
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding-right: 20px;
    color: #fff;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(173, 164, 149);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.side-nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ccc;
    border-radius: 20px;
}

.side-nav .close-btn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
}


@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav ul.nav_links {
        display: none;
    }
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.hero img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
  
.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    -webkit-text-stroke: #fff 1px;
    font-size: 45px;
    text-align: center;
}

.hero i {
    padding-left: 10px;
}

.hero a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    text-align: center;
    background-color: transparent;
    border-radius: 35px;
    border-style: outset;
    cursor: pointer;
    border-color: #ccc;
    padding: 6px 14px;
}

.hero a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ccc;
    border-radius: 35px;
}

.hero h1 span {
    display: inline-block;
    opacity: 0;
    font-weight: 700;
    transform: translateX(200px);
    animation: fadeIn 0.9s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero h1 span:nth-child(1) { animation-delay: 0.1s; }
.hero h1 span:nth-child(2) { animation-delay: 0.2s; }
.hero h1 span:nth-child(3) { animation-delay: 0.3s; }
.hero h1 span:nth-child(4) { animation-delay: 0.4s; }
.hero h1 span:nth-child(5) { animation-delay: 0.5s; }
.hero h1 span:nth-child(6) { animation-delay: 0.6s; }
.hero h1 span:nth-child(7) { animation-delay: 0.7s; }

@media (max-width: 768px) {
    .hero h1 {
        font-size: 40px;
        top: 35%;
    }
    .hero a {
        top: 60%;
    }
}
@media (max-width: 480px) {
    .hero h1 {
        font-size: 38px;
        top: 38%;
    }
    .hero a {
        top: 70%;
    }
}

@media (max-width: 380px) {
    .hero h1 {
        font-size: 25px;
        top: 38%;
    }
}

.about {
    margin: 5% 5%;
}

.about h2 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 15px;
}

.about p {
    text-align: left;
    font-size: 18px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.about-left {
    padding-right: 30px;
}

.about-left .text {
    border: #fff ridge 10px;
    padding: 20px;
    border-radius: 15px;
}

#about-description {
    margin-bottom: 20px;
}

.about-left, .about-right {
    flex: 1;
    margin-top: 30px;
}

.about-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

@media (max-width: 768px) {
    .about-left, .about-right {
      flex: 100%;
    }
    .about-right img {
      height: 65vh;
    }

    .about-left {
        padding: 20px;
    }
}

@media (max-width: 932px) {
    .about-left {
        padding-top: 0px;
    }
}

.about-left, .about-right {
    opacity: 0; /* Start hidden */
    transform: translateX(-100%); /* Start off-screen */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition for smooth effect */
}

.about-left.visible {
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Move to original position */
}

.about-right {
    transform: translateX(100%); /* Start off-screen from the right */
}

.about-right.visible {
    opacity: 1; /* Fade in */
    transform: translateX(0); /* Move to original position */
}

.counter-section {
    /* background-color: rgb(173, 164, 149); */
    padding: 20px 0;
    border-radius: 20px;
}

.counter-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.counter-item {
    text-align: center;
    border-radius: 20px;
    background-color: rgb(173, 164, 149);
    box-shadow: 0 4px 8px rgba(0,0,0,.5);
    width: 250px;
    height: 150px;
    justify-content: center;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.counter-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.counter-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.counter {
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
}

.counter-item .plus {
    font-size: 48px;
    position: relative;
    top: -48%;
    left: 27%;
    font-weight: bold;
}

.counter-item .plus-customers {
    font-size: 48px;
    position: relative;
    top: -48%;
    left: 25%;
    font-weight: bold;
}

.counter-container {
    opacity: 0; /* Start hidden */
    transform: translateY(50px); /* Start slightly below */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition for smooth effect */
}

.counter-container.visible {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to original position */
}

.products {
    margin: 5% 5%;
}

.products h2 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 15px;
}

.swiper {
    width: 100%;
    padding: 50px 0;
}

.product-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.product-info {
    padding: 20px;
    text-align: center;
}

.product-info h3 {
    margin: 0 0 10px;
}

.price {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.product-link {
    display: inline-block;
    padding: 8px 20px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    border-radius: 35px;
    cursor: pointer;
    border-color: black;
    border-style: outset;
    padding: 10px 20px;
    width: 50%;
    transition: color 0.2s ease;
}

.product-link:hover {
    background-color: rgb(173, 164, 149);
}

#swiper-next,
#swiper-prev {
    color: #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

#swiper-next:hover,
#swiper-prev:hover {
    background-color: rgb(227, 208, 184);
    color: #fff;
}

#swiper-next::after,
#swiper-prev::after {
    font-size: 30px;
}

#swiper-next::after {
    content: '→';
}

#swiper-prev::after {
    content: '←';
}

.more-products {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
  
.more-products a {
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border-radius: 35px;
    cursor: pointer;
    border-color: white;
    border-style: outset;
    padding: 10px 20px;
    text-decoration: none;
}
  
.more-products a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    border-radius: 35px;
}

.more-products-text {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
}

.products .text h2 {
    text-align: left;
    font-size: 28px;
}

.products .text p {
    text-align: left;
    font-size: 15px;
}

.products .text a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    border-radius: 35px;
    cursor: pointer;
    border-color: white;
    border-style: outset;
    padding: 10px 20px;
    width: 50%;
    transition: color 0.2s ease;
}

.products .text a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    border-radius: 35px;
}

#prod-text {
    margin-bottom: 20px;
}

.prod-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: #fff ridge 10px;
    padding: 20px;
    border-radius: 15px;
    margin-top: 15px;
    background-color: rgb(173, 164, 149);
}

.products .prod-left {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 600px;
}

.products .prod-left, .products .prod-right {
    flex: 1;
    margin-top: 30px;
}

.products .prod-right img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

@media (max-width: 768px) {
    .products .prod-left, .products .prod-right {
      flex: 100%;
    }
    .products .prod-right img {
      height: auto;
    }

    .products .prod-left {
        padding: 20px;
    }
}

@media (max-width: 932px) {
    .products .prod-left {
        padding-top: 0px;
    }
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Slightly move it down */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Initial state for the product container */
.prod-container {
    opacity: 0; /* Initially hidden */
}

/* Class to trigger the animation */
.animate {
    opacity: 1; /* Make visible */
}

/* Specific animations for left and right divs with delays */
.prod-left, .prod-right {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out;
}

.prod-left.animate, .prod-right.animate {
    opacity: 1; /* Make visible */
}

.QA {
    margin: 5% 5%;
}

.QA h2 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 15px;
}

.QA p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.QA .smaller-font {
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}

.icons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20;
    padding: 20px;
}

.icon {
    background-color: rgb(173, 164, 149);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.icon i {
    font-size: 48px;
    margin-bottom: 10px;
}

.icon span {
    font-size: 20px;
    text-align: center;
}

.QA .text p {
    text-align: left;
    font-size: 15px;
}

/* Add this to your CSS file */
.text-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.text-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.icons {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.icons.visible {
    opacity: 1;
    transform: translateY(0);
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    border-radius: 15px;
    margin-top: 15px;
}

.info-left {
    padding-right: 30px;
    padding-left: 30px;
    max-width: 600px;
    display: flex;
    align-items: center;
}

.info-description {
    border: #fff ridge 10px;
    padding: 20px;
    border-radius: 15px;
}

.info-left, .info-right {
    flex: 1;
    margin-top: 30px;
}

.info-right img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.info-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .info-left, .info-right {
      flex: 100%;
    }
    .info-right img {
      height: 65vh;
    }

    .info-left {
        padding: 20px;
    }

    .icons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon {
        margin: 15px 0;
    }
}

@media (max-width: 932px) {
    .info-left {
        padding-top: 0px;
    }
}

.info-container {
    opacity: 0; /* Start hidden */
    transform: translateY(50px); /* Start slightly lower */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Transition for opacity and transform */
}

.info-container.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}

.footer {
    background-color: rgb(173, 164, 149);
    color: black;
    padding: 50px 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: 40px;
}
  
.footer .container {
    max-width: 1200px;
    margin: 0 auto;
}
  
.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.footer .col-md-4 {
    flex-basis: 33.33%;
    padding: 20px;
}
  
.footer h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
  
.footer p {
    font-size: 14px;
    margin-bottom: 20px;
}
  
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer ul li {
    margin-bottom: 10px;
}
  
.quick-links li {
    color: black;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.quick-links li:hover {
    transform: translateX(-12px);
    border-left: black 5px solid;
    padding-left: 5px;
}
  
.footer .social-links {
    margin-top: 20px;
}
  
.footer .social-links li {
    display: inline-block;
    margin-right: 10px;
}
  
.footer .social-links li a {
    font-size: 18px;
    transition: 0.3s ease;
}

.footer .social-links li a i:hover {
    transform: scale(1.5);
}

.footer .copyright {
    background-color: #686262;
    color: black;
    padding: 10px;
    text-align: center;
    clear: both;
}

.footer a {
    text-decoration: none;
    color: black;
}